		sites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.appetd::cout << std::endl;

# Temp file
*.cpp~
.gitignore~
plot
plot~
*.sh~

# Image file
*.png

# Data file
links.txt
pages.txt
